@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}


.testimonial-swiper{
  padding: 20px 0;
}

.testimonial-swiper .swiper-slide{
  height: auto;
}

/* hide default swiper button navigation */

.testimonial-swiper .swiper-slide-prev::after,
.testimonial-swiper .swiper-slide-next::after{
  display: none;
}

.swiper-slide-next .swiper-slide-prev{
  display: none;
}
.swiper-button-next-custom.swiper-button-disabled, 
.swiper-button-prev-custom.swiper-button-disabled{
  opacity: 0.5;
  cursor: not-allowed
}